*{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

 body{
    margin: 0;
 }

 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    background-color:rgb(59, 88, 15);
 }

  .card{
    background-image: linear-gradient(#333,#333);
    overflow: hidden;
    border-radius: 20px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .6s;
    box-shadow: #333;
  }
    .card:hover{
     background-image: linear-gradient(rgb(21, 88, 177), rgb(15, 204, 15)
     )
    }

     .card .img{
        background-image: url("./assets/1202662.jpg");
        background-position: center;
        background-size: cover;
        width: 360px;
        height: 360px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .9;
        transition: all .6;
        z-index: 2;
     }

      .card:hover{
        opacity: 1;
        width: 460px;

      }

       .card .img span{
        font-size: 25px;
        font-style: oblique;
        font-weight: 100;
        text-transform: uppercase;
       }

        .card .content{
           padding: 0 20px;
           overflow: hidden;
        height: 0;
        transition: all .6;
        transform: translateY(30px);
        opacity: 0;
        }

         .card:hover .content{
            padding: 25px;
            height: 260px;
            transform: translateY(0);
            opacity: 2;
         }

          .card .contentp{
            margin-bottom: 0;
          }

          .card .content .title{
            font-size: 25px;
            font-weight: bold;
          }

           .card .content .desc{
            font-size: 14x;
            font-weight: 100;
            opacity: .8;
           }

            .card .arrow{
                padding-bottom: 20px;
                font-size: 29px;
                transform: rotate(-180deg);
                transition: all .6;
            }

             .card:hover .arrow{
                transform: rotate(0);
             }
